{% extends 'base.html' %}

{% load my_tags %}
{% block title %}Профиль{% endblock %}

{% block content %}

<div class="container my-5">

    <!-- Заголовок -->
    <header class="text-center mb-5">
        <h1 class="display-4 fw-bold">Личный кабинет</h1>
        <p class="lead text-muted">Управляйте своим здоровьем и записями</p>
    </header>

    {% if user.is_authenticated %}
    <section class="section" id="auth">
        <h2 class="text-center mb-4">Профиль</h2>
        <div class="card mb-4 shadow-sm" style="max-width: 700px; margin: 0 auto;">
            <div class="row g-0 align-items-center">
                <div class="col-md-4 text-center p-4">
                    {% load static %}
                    {% if user.avatar and user.avatar.url %}
                    <img src="{{ user.avatar.url }}" class="rounded-circle img-fluid" alt="Аватар"
                         style="width:150px; height:150px; object-fit:cover;">
                    {% else %}
                    <img src="{% static 'images/prefile.webp' %}" class="rounded-circle img-fluid" alt="Аватар"
                         style="width:150px; height:150px; object-fit:cover;">
                    {% endif %}

                </div>
                <div class="col-md-8 p-4">
                    <h3 class="card-title mb-3">{{ user.first_name }} {{ user.last_name }}</h3>
                    <ul class="list-group list-group-flush mb-3">
                        {% if user.patronymic %}
                        <li class="list-group-item"><strong>Отчество:</strong> {{ user.patronymic }}</li>
                        {% endif %}
                        {% if user.email %}
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                        {% endif %}
                        {% if user.phone %}
                        <li class="list-group-item"><strong>Телефон:</strong> {{ user.phone }}</li>
                        {% endif %}
                        {% if user.city %}
                        <li class="list-group-item"><strong>Город:</strong> {{ user.city }}</li>
                        {% endif %}
                        {% if user.country %}
                        <li class="list-group-item"><strong>Страна:</strong> {{ user.country }}</li>
                        {% endif %}
                        {% if user.tg_id %}
                        <li class="list-group-item"><strong>Telegram ID:</strong> {{ user.tg_id }}</li>
                        {% endif %}
                        <li class="list-group-item"><strong>Дата регистрации:</strong>
                            {{ user.created_at | date:"d M Y" }}
                        </li>
                    </ul>
                    <a href="/users/profile/{{ user.id }}/update/" class="p-2 btn btn-outline-primary">Редактировать
                        профиль</a>

                </div>
            </div>
        </div>
        <form class="feedback-form" action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-custom">Выйти</button>
        </div>
            </form>

    </section>

    <!-- Запись на прием -->
    <section class="section" id="feedback">
        <h2 class="text-center mb-4">Запись на прием</h2>

        <form class="feedback-form" action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-custom">Записаться</button>
        </div>
            </form>

    </section>

    <!-- История записей и результаты -->
    <section class="section" id="history">
        <h2 class="text-center mb-4">История записей и результатов</h2>
        <div class="row g-4 records-grid">

            {% for appointment in appointments %}
            <div class="col-md-4">
                <div class="card record-card p-3 bg-white rounded shadow-sm">
                    <h5 class="mb-2">Запись {{ appointment.appointment_date | date:"d M Y" }}</h5>
                    <p class="mb-1"><strong>Врач:</strong> {{ appointment.doctor }}</p>
                    <p class="mb-1"><strong>Процедура:</strong> {{ appointment.services }}</p>

                    {% if appointment.status == 'completed' %}
                    <p class="mb-1"><strong>Результаты диагностики:</strong>
                        <a href="{% url 'medical:diagnostic_result_detail' appointment.pk %}">Подробнее</a>
                    </p>
                    {% endif %}

                </div>
            </div>
            {% endfor %}

        </div>
    </section>

    {% else %}
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
            <div class="card-body text-center">
                <h2 class="card-title mb-4">Профиль</h2>
                <!-- Кнопки -->
                <a href="/users/login/" class="btn btn-primary btn-lg mb-3 w-75">Вход</a>
                <a href="/users/register/" class="btn btn-outline-primary btn-lg w-75">Регистрация</a>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}